# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakePresets.json
!CMakePresets.json
CMakeUserPresets.json
Makefile
targets.make
cmake_install.cmake
compile_commands.json
install_manifest.txt
/build/
/out/

# IDEs
.vscode/
.vs/
.idea/
*.suo
*.user
*.userossc
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
